<%= render 'book', books: @books, user: @user, book: @book %>

    <!--右側-->
    <div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td><%= image_tag @boo.user.get_profile_image(100,86) %><br>
              <%= link_to @boo.user.name, user_path(@user.id) %>
              </td>
              <td>
                <%= link_to @boo.title, book_path %>
              </td>
              <td><%= @boo.body %></td>

              <% if @boo.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@boo), class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@boo), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %>
              </td>
              <% end %>

            </tr>
          </tbody>

        </table>
      </div>
    </div>


  </div>
</div>